*__pycahce__*
*.pyc
training/football-players-detection-1/train
training/football-players-detection-1/test
training/football-players-detection-1/valid
training/football-players-detection-1/football-players-detection-1
.env
input_videos
output_videos
models